{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1 col-md-6 offset-md-3">
      <div class="card cardback">
        <div class="card-header alert cardhead">
          <h2>Reset Password</h2>
        </div>
        <div class="card-body">
          <p>Please fill your new password twice, so that we can verify that it is not incorrect.</p>
          <form method="post">
            {% csrf_token %}
            {{form}}
            <input class="btn btn-primary btn-sm" type="submit" value="Update Password">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
